<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Plaid Quickstart Example</title>
<link rel="stylesheet" href="https://threads.plaid.com/threads.css">

<link rel="stylesheet" type="text/css" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <main class="main">
    <div class="grid">
      <div class="grid__column grid__column--is-twelve-columns">
        <!-- 
        <div id="banner" class="everpresent-content">
          <h1 class="everpresent-content__heading">Plaid Quickstart</h1>
          <p id="intro" class="everpresent-content__subheading">
            An example application that outlines an end-to-end integration with Plaid
          </p>
          <p id="steps" class="everpresent-content__subheading">
           Success! You just created an Item by linking your account.
          </p>
        </div>

          <div id="container" class="initial-view">
            <p class="initial-view__description">
              Click the button below to open a list of Institutions. After you select one, you’ll be guided through an authentication process. Upon completion, a public_token will be passed back to the server and exchanged for access_token.
            </p>
            
            <button id="link-btn" class="button button--is-primary" disabled>Connect with Plaid</button>
            <div class="loading-indicator"></div>
          </div>
        -->
      </div>
    </div>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script>
  (function($) {
    var linkHandlerCommonOptions = {
      apiVersion: 'v2',
      clientName: 'MySusu',
      env: '<%= PLAID_ENV %>',
      product: 'payment_initiation',
      key: '<%= PLAID_PUBLIC_KEY %>',
      countryCodes: '<%= PLAID_COUNTRY_CODES %>'.split(','),
    };
    var oauthRedirectUri = '<%= PLAID_OAUTH_REDIRECT_URI %>';
    if (oauthRedirectUri != '') {
      linkHandlerCommonOptions.oauthRedirectUri = oauthRedirectUri;
    }
    var oauthNonce = '<%= PLAID_OAUTH_NONCE %>';
    if (oauthNonce != '') {
      linkHandlerCommonOptions.oauthNonce = oauthNonce;
    }
    // This functionality is only relevant for the UK Payment Initiation product.
    $('.payment_initiation').show();
    $.post('/init_payment', { transacId: qs('transacid')}, function(data) {
      var paymentToken = data.paymentToken;
      $('#payment_token').text(paymentToken);

      // In the case of payment_initiation product, we need to wait for
      // payment token to be generated before the Link handler can be
      // initialized.
      handler = Plaid.create({
        ...linkHandlerCommonOptions,
        paymentToken: paymentToken,
        language: 'en',
        onSuccess: function(public_token) {
          // This public token exchange step is not relevant for the
          // payment_initiation product and should be skipped.
          $.post('/get_access_token', {
            public_token: public_token
          }, function(data) {
            $('#container').fadeOut('fast', function() {
              $('#item_id').text(data.item_id);
              $('#access_token').text(data.access_token);
              $('#intro').hide();
              $('#app, #steps').fadeIn('slow');
            });
          });
        },
      });
      $('#link-btn').attr('disabled', false);
      $('.loading-indicator').hide();
      handler.open();
    });

  })(jQuery);

function qs(key) {
    key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
    var match = location.search.match(new RegExp("[?&]"+key+"=([^&]+)(&|$)"));
    return match && decodeURIComponent(match[1].replace(/\+/g, " "));
}
  </script>
</body>
</html>
